<template>
  <div class="transfer-row">
    <h4>{{ transfer.fromSecurityHolder }}</h4>
    <p>Type: {{ transfer.type }}</p>
    <div class="transfer-row__state">
      <p>State:</p>
      <p class="state-type">{{ transfer.state }}</p>
    </div>
    <p>Amount: {{ transfer.amount }}</p>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import { Component, Prop } from "vue-property-decorator";
import { Transaction } from "@/types/types";

@Component({
  name: "TransferRow",
})
export default class TransferRow extends Vue {
  @Prop({ required: true }) transfer!: Transaction;
}
</script>

<style lang="scss">
.transfer-row {
  background-color: #f1f1f1;
  border-radius: 25px;
  margin: 1rem;
  max-width: 500px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__state {
    display: inline-flex;
  }
}
.state-type {
  border-radius: 5px;
  padding: 0 5px;
  margin: 0 5px;
  background-color: rgb(33, 27, 159);
  color: #ffff;
}
</style>
